.card-child {
  position: absolute;
}

/* ----------------------------------------- */
/* Top left edge */

.card-child__top-left {
  top: 0.75vh;
  width: 13vw;
}

.card-child__top-left-0 {
  width: 100%;
  height: auto;
}

/* ----------------------------------------- */
/* Top right edge */

.card-child__top-right {
  top: 0;
  right: 0;
}

.card-child__top-right-0 {
  position: absolute;
  top: -0;
  left: -6.75vw;
  width: 8vw;
  height: auto;
  max-height: 70vh;
}

/* ----------------------------------------- */
/* Bottom right edge */

.card-child__bottom-right {
  position: absolute;
  bottom: -1.1vw;
  right: -1.1vw;
  border: 1.2vw solid transparent;
  border-left: 1.2vw solid var(--primary-orange);
  transform: rotate(45deg);
}

/* ------------------------------------------ */

/* Bottom left edge */

.card-child__bottom-left {
  width: 7vw;
  height: 7vw;
  left: 0;
  bottom: 0;
}

.card-child__bottom-left-0 {
  width: 100%;
  height: auto;
}

/* ------------------------------------------ */