.card-child {
  position: absolute;
}

/* ----------------------------------------- */
/* Top left edge */

.card-child__top-left {
  top: 0.75%;
  width: 13%;
}

.card-child__top-left-0 {
  width: 100%;
  height: auto;
}

/* ----------------------------------------- */
/* Top right edge */

.card-child__top-right {
  top: 0;
  right: 0;
  width: 100%;
}

.card-child__top-right-0 {
  position: absolute;
  top: -0;
  right: -1.2%;
  width: 8%;
  height: auto;
  max-height: 70vh;
}

/* ----------------------------------------- */
/* Bottom right edge */

.card-child__bottom-right {
  width: 3%;
  height: auto;
  bottom: 0;
  right: 0;
}

/* ------------------------------------------ */

/* Bottom left edge */

.card-child__bottom-left {
  width: 7vw;
  height: 7vw;
  left: 0;
  bottom: 0;
}

.card-child__bottom-left-0 {
  width: 100%;
  height: auto;
}

/* ------------------------------------------ */

@media (min-width: 1600px) {
  .card-child__bottom-left {
    width: 140px;
    height: 140px;
  }
}