.card {
  position: absolute;
  top: 15vh;
  left: 15vw;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}

.card-main {
  width: 100%;
  height: 100%;
  background-color: var(--alpha-orange);
  border: 2px solid var(--primary-orange);
}

.card-child {
  position: absolute;
}

/* 
Pseudo elements common styles
*/

.card::before,
.card::after,
.card-child__top-left-0::after,
.card-child__top-left-0::before,
.card-child__top-left-1::before,
.card-child__top-left-1::after,
.card-child__top-right-0::after,
.card-child__top-right-0::before {
  content: "";
  display: block;
  position: absolute;
}

/* ----------------------------------------- */
/* Top left edge */

.card-child__top-left {
  position: absolute;
  top: 0.75vh;
  /* left: 0; */
}

/* .card-child__top-left-0,
.card-child__top-left-1 {
  position: absolute;
  top: 0.3vw;
}

.card-child__top-left-0 {
  width: 0.75vw;
  height: 30vh;
  background-color: var(--primary-orange);
} */

/* .card-child__top-left-0::before {
  top: -0.1vw;
  left: -0.1vw;
  border: 0.8vw solid transparent;
  border-right-color: var(--primary-orange);
  transform: rotate(45deg);
}

.card-child__top-left-0::after {
  bottom: -0.8vw;
  border: 0.8vw solid transparent;
  border-left-color: var(--primary-orange);
}

.card-child__top-left-1 {
  width: 10vw;
  height: 0.75vw;
  background-color: var(--primary-orange);
}

.card-child__top-left-1::before {
  right: -0.8vw;
  border: 0.8vw solid transparent;
  border-top-color: var(--primary-orange);
}

.card-child__top-left-1::after {
  width: 7vw;
  height: 0.1vw;
  right: -6vw;
  background-color: var(--primary-orange);
} */

/* ----------------------------------------- */
/* Top right edge */

.card::after {
  top: -3vw;
  right: -3vw;
  border: 3vw solid transparent;
  border-right-color: var(--primary-orange);
  transform: rotate(135deg);
}

.card-child__top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.card-child__top-right-0 {
  position: absolute;
  top: -7vh;
  width: 7vw;
  height: auto;
  right: -5.75vw;
}

/* .card-child__top-right-0::before {
  top: -4.18vh;
  left: -0.01vw;
  width: 0.3vw;
  height: 5vh;
  transform-origin: bottom;
  transform: rotate(-45deg);
  border-left: 1px solid #000;
  background-color: var(--primary-blue);
} */
/* ----------------------------------------- */
/* Bottom right edge */

.card-child__top-right,
.card-child__bottom-left {
  position: absolute;
  border: 3vw solid transparent;
}

.card-child__bottom-right {
  position: absolute;
  bottom: -1.2vw;
  right: -1.2vw;
  border: 1.2vw solid transparent;
  border-left: 1.2vw solid var(--primary-orange);
  transform: rotate(45deg);
}

/* ------------------------------------------ */

/* Bottom left edge */

.card::before {
  width: 0.75vw;
  height: 20vh;
  left: 1.85vw;
  bottom: -2vw;
  border-left: 2px solid var(--primary-orange);
  transform: rotate(135deg);
  background-color: var(--primary-blue);
}

.card-child__bottom-left {
  left: -3vw;
  bottom: -3vw;
  border-left-color: var(--primary-orange);
  transform: rotate(135deg);
}

/* ------------------------------------------ */
